<app-headers></app-headers>
<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/images/fondo.jpg)">
    </div>
  
    <div class="content">
        <div class="image-title">
          <img src="/assets/images/logo2.png" alt="Imagen descriptiva" class="image">
          <div class="text-content">
            <h2 class="title">Historia</h2>
              <p class="paragraph">
                  Este proyecto nació en 2024 en Argentina con la misión de conectar a personas que desean contratar un servicio de transporte privado con aquellos que lo ofrecen.
              </p>
            <h2 class="title">Propuesta</h2>
                <ul>
                  <li>Para los usuarios: Ofrecemos una opción sencilla y accesible para reservar un viaje hacia un destino específico, eliminando las complicaciones habituales de encontrar un transporte confiable.</li>
                  <li>Para las empresas: Brindamos una plataforma robusta donde pueden publicitar sus servicios, construir una reputación sólida en el mercado y llegar a una audiencia más amplia.</li>
                </ul>
            <h2 class="title">Solución</h2>
                <ul>
                  <li>Para los usuarios: Podrán buscar y reservar un viaje de manera eficiente, con la seguridad de estar utilizando una plataforma confiable y fácil de usar.</li>
                  <li>Proveedores de servicios: Tendrán la posibilidad de ofrecer sus servicios a un público más amplio, incrementando su clientela y fortaleciendo su presencia en el mercado.</li>
                </ul>
            <h2 class="title">Contacto</h2>
              <p class="paragraph">
                Puedes enviarnos un email o contactarnos a través de nuestras redes sociales.
              </p>
              <div class="contact-icons">
                <i class="fa fa-envelope"></i>
                  <a href="mailto:easyride24team@gmail.com">easyride24team&#64;gmail.com</a>
                <i class="fab fa-instagram"></i>
                  <a href="https://www.instagram.com/easyride_24/" target="_blank">Síguenos en Instagram</a>
              </div>
        </div>
      </div>
    </div>
</div>