<app-headers></app-headers>
<div class="page-header clear-filter">
  <div class="page-header-image" style="background-image:url(assets/images/charter-agregar.png)">
  </div>
  <div class="servicio-container">
    <h2>{{ isEditMode ? 'Editar Parada' : 'Agregar Parada' }}</h2>
    <form class="servicio-details" [formGroup]="form" (ngSubmit)="openModal()" #charterForm="ngForm">
      <!-- Campo Nombre -->
      <p>
        <strong>Nombre</strong>
        <input id="nombre" type="text" class="form-control" placeholder="nombre" formControlName="nombre" 
            (input)="onInputChange('nombre')" style="text-transform: uppercase;">
        <small class="text-danger" *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El nombre es obligatorio.
        </small>
      </p>

      <!-- Campo Provincia -->
      <p>
        <strong>Provincia</strong>
        <select id="Provincia" class="form-control select-control" formControlName="provincia">
          <option *ngFor="let provincia of provincias" [value]="provincia.PK_Provincia">{{ provincia.nombre }}</option>
        </select>
        <small class="text-danger" *ngIf="form.get('provincia')?.hasError('required') && form.get('provincia')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          La provincia es obligatoria.</small>
      </p>

      <!-- Campo Localidad -->
      <p>
        <strong>Localidad</strong>
        <select id="Localidad" class="form-control select-control" formControlName="localidad">
          <option *ngFor="let localidad of localidades" [value]="localidad.PK_Localidad">{{ localidad.nombre }}</option>
        </select>
        <small class="text-danger" *ngIf="form.get('localidad')?.hasError('required') && form.get('localidad')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          La localidad es obligatoria.</small>
      </p>

      <!-- Campo Coordenadas -->
      <p>
        <strong>Coordenadas</strong>
        <input id="coordenadas" type="text" class="form-control" placeholder="Ej: -34.617, -58.381" formControlName="coordenadas" />
        <small class="text-danger" *ngIf="form.get('coordenadas')?.hasError('required') && form.get('coordenadas')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          Las coordenadas son obligatorias.</small>
        <small class="text-danger" *ngIf="form.get('coordenadas')?.hasError('invalidCoordinates')">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          Las coordenadas no son válidas. Deben ser en formato 'lat, lon'.</small>
      </p>

      <!-- Botones -->
      <div class="botones">
        <button type="button" class=" bt-a-servicio" [routerLink]="['/V-empresa']">Cancelar</button>
        <button type="submit" class=" bt-a-servicio" (click)="openModal()">{{ isEditMode ? 'Actualizar Parada' : 'Agregar Parada' }}</button>
      </div>
    </form>
  </div>
</div>
