<app-headers></app-headers>
<div class="page-header clear-filter">
  <div class="page-header-image" style="background-image:url(assets/images/viaje-edit.png)">
  </div>
  <div class="servicio-container">
    <h2>Información de Viaje</h2>
    <!-- Comienza el form -->
    <form [formGroup]="form" class="servicio-details" (ngSubmit)="EditarViaje()">
      <!-- Campo Horario de salida -->
      <p><strong>Horario de salida:</strong></p>
      <input id="horario_salida" type="time" formControlName="horario_salida" class="form-control">
      <small class="text-danger" *ngIf="form.get('horario_salida')?.hasError('required') && form.get('horario_salida')?.touched">
        El horario de salida es obligatorio.
      </small>

      <p><strong>Horario de llegada:</strong></p>
      <input id="horario_llegada" type="time" formControlName="horario_llegada" class="form-control">
      <small class="text-danger" *ngIf="form.get('horario_llegada')?.hasError('required') && form.get('horario_llegada')?.touched">
        El horario de llegada es obligatorio.
      </small>
      <small class="text-danger" *ngIf="form.hasError('horariosIguales') && form.get('horario_salida')?.touched && form.get('horario_llegada')?.touched">
        Los horarios de salida y llegada no pueden ser iguales.
      </small>

      <p><strong>Fecha:</strong></p>
      <input id="fecha" type="date" formControlName="fecha" class="form-control">
      <small class="text-danger" *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">
        La fecha es obligatoria.
      </small>
      <small class="text-danger" *ngIf="form.get('fecha')?.hasError('fechaPasada') && form.get('fecha')?.touched">
        La fecha no puede ser pasada.
      </small>

      <p><strong>Precio:</strong></p>
      <input id="precio" type="number" formControlName="precio" class="form-control" placeholder="Precio">
      <small class="text-danger" *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
        El precio es obligatorio.
      </small>
      <small class="text-danger" *ngIf="form.get('precio')?.hasError('min') && form.get('precio')?.touched">
        El precio debe ser igual o mayor a 1.
      </small>

      <p><strong>Paradas:</strong></p>
        <div class="input-group">
        <select class="form-control select-control" [formControl]="paradaSeleccionadaControl">
          <option value="" disabled>Selecciona una parada</option>
          <option *ngFor="let parada of paradas" [ngValue]="parada">
            {{ parada.parada }}
            </option>
        </select>
        </div>
        <button class="bt-agregar-parada" (click)="agregarParada($event)">Agregar Parada</button>
        <ul>
          <li *ngFor="let parada of paradasSeleccionadas; let i = index">
            {{ parada.parada }} <!-- Verifica que 'parada' es la propiedad correcta -->
            <button (click)="eliminarParada(i)">
              <i class="fas fa-trash-alt icon-trash"></i>
            </button>
          </li>
        </ul>

        <p><strong>Charter Asignado:</strong></p>
      <select id="desplegable-charter" formControlName="FK_Charter" (change)="onCharterChange($event)">
        <option value="" disabled>Selecciona un charter</option>
        <option *ngFor="let charter of charters" [value]="charter.PK_Charter">
          {{ charter.marca }} - {{ charter.modelo }} - {{ charter.patente }}
        </option>
      </select>
      <small class="text-danger" *ngIf="form.get('FK_Charter')?.hasError('required') && form.get('FK_Charter')?.touched">
        Debes seleccionar un charter.
      </small>
      
      <div class="bt-container">
        <button type="submit" class="bt-a-servicio">Guardar</button>
        <button type="button" class="bt-a-servicio" [routerLink]="['/V-empresa']">Cancelar</button>
      </div>
    </form>
  </div>
</div>