<app-headers></app-headers>
<div class="page-header clear-filter">
    <div class="page-header-image" style="background-image:url(/assets/images/viaje-agregar.webp)">
    </div>
<div class="servicio-container">
    <h2>Información de Viaje</h2>
    <!--Comienza el form--> 
    <form [formGroup]="form" class="servicio-details" (ngSubmit)="addViaje()">    
      
      <p><strong>Horario de salida:</strong></p>
      <input id="horario_salida" type="time" formControlName="horario_salida" class="form-control">
      <small class="text-danger" *ngIf="form.get('horario_salida')?.hasError('required') && form.get('horario_salida')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> El horario de salida es obligatorio.
      </small>
      
      <p><strong>Horario de llegada:</strong></p>
      <input id="horario_llegada" type="time" formControlName="horario_llegada" class="form-control">
      <small class="text-danger" *ngIf="form.get('horario_llegada')?.hasError('required') && form.get('horario_llegada')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> El horario de llegada es obligatorio.
      </small>
      <small class="text-danger" *ngIf="form.hasError('horariosIguales') && form.get('horario_salida')?.touched && form.get('horario_llegada')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> Los horarios de salida y llegada no pueden ser iguales si las fechas coinciden.
      </small>

      <p><strong>Fecha de salida:</strong></p>
      <input id="fecha_salida" type="date" formControlName="fecha_salida" class="form-control">
      <small class="text-danger" *ngIf="form.get('fecha_salida')?.hasError('required') && form.get('fecha_salida')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> La fecha de salida es obligatoria.
      </small>
      <small class="text-danger" *ngIf="form.get('fecha_salida')?.hasError('fechaPasada') && form.get('fecha_salida')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> La fecha de salida no puede ser anterior a la fecha actual.
      </small>

      <p><strong>Fecha de llegada:</strong></p>
      <input id="fecha_llegada" type="date" formControlName="fecha_llegada" class="form-control">
      <small class="text-danger" *ngIf="form.get('fecha_llegada')?.hasError('required') && form.get('fecha_llegada')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> La fecha de llegada es obligatoria.
      </small>
      <small class="text-danger" *ngIf="form.hasError('fechaLlegadaInvalida') && form.get('fecha_llegada')?.touched && form.get('fecha_salida')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i> La fecha de llegada no puede ser anterior a la fecha de salida.
      </small>

      <p><strong>Precio:</strong></p>
      <input id="precio" type="number" formControlName="precio" class="form-control" placeholder="Ingrese Precio">
      <small class="text-danger" *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i>
        El precio es obligatorio.
      </small>
      <small class="text-danger" *ngIf="form.get('precio')?.hasError('min') && form.get('precio')?.touched">
        <i class="fas fa-exclamation-triangle warning-icon"></i>
        El precio debe ser igual o mayor a 1.
      </small>

      <p><strong>Paradas:</strong></p>
      <div class="input-group">
        <select class="form-control select-control" [formControl]="paradaSeleccionadaControl">
          <option value="" disabled>Selecciona una parada</option>
          <option *ngFor="let parada of paradas" [ngValue]="parada">
            {{ parada.parada  }}
          </option>
        </select>
      </div>
      <button class="bt-agregar-parada" (click)="agregarParada($event)">Agregar Parada</button>
      <ul>
        <li *ngFor="let parada of paradasSeleccionadas; let i = index">
          {{ parada.parada }} <!-- Aquí, 'parada.parada' muestra el nombre de la parada -->
          <button (click)="eliminarParada(i)">
            <i class="fas fa-trash-alt icon-trash icon-background"></i>
          </button>
        </li>
      </ul>
    
      <p><strong>Charter asignado:</strong></p>
      <select id="desplegable-charter" formControlName="FK_Charter">
        <option value="" disabled>Selecciona un charter</option>
        <option *ngFor="let charter of charters" [value]="charter.PK_Charter">
          {{ charter.marca }} - {{ charter.modelo }} - {{ charter.patente }}
        </option>
      </select>
     <small class="text-danger" *ngIf="form.get('FK_Charter')?.hasError('required') && form.get('FK_Charter')?.touched">
      <i class="fas fa-exclamation-triangle warning-icon"></i>
      Debes seleccionar un charter.
      </small>
      <div class="bt-container">
        <button type="button" class="bt-a-servicio" [routerLink]="['/V-empresa']" [queryParams]="{ tab: 'tab1' }">Cancelar</button>
        <button type="submit" class="bt-a-servicio">Guardar</button>
      </div>
    </form>
    </div>
</div>
