<div class="trip-Icons">
  <div *ngFor="let viaje of viajes; let i = index" class="image-container" (mousemove)="mostrarInfo(i)">
    <img [src]="imagenesPorIndice[i % imagenesPorIndice.length]" class="TripIcon">
    <div *ngIf="viaje.mostrar" class="info-trip">
    <p>{{ getPrimeraYUltimaParada(viaje).primeraParada }}-{{ getPrimeraYUltimaParada(viaje).ultimaParada }}</p>
    <!--<button (click)="reservar(viaje.PK_Viaje || 0)" class="gradient-button">Reservar</button>-->
     
       <button class="gradient-button" (click)="reservar(viaje.PK_Viaje || 0)">Reservar</button>
    </div>
  </div>
</div>