<app-headers></app-headers>
<div class="page-header clear-filter" filter-color="">
  <div class="page-header-image" style="background-image:url(assets/images/Empresa-agregar.png)">
  </div>
  <div class="servicio-container">
    <h2>Información de Empresa</h2>
    <!-- Comienza el form -->
    <form class="servicio-details" [formGroup]="form" (ngSubmit)="openModal()" #charterForm="ngForm">
      
      <!-- Campo Razon Social -->
      <p>
        <strong>Razón social</strong>
        <input id="razon_social" type="text" class="form-control" placeholder="Razón social" formControlName="razon_social">
      
        <small class="tooltip-container text-danger" *ngIf="form.get('razon_social')?.hasError('required') && form.get('razon_social')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          La razón social es requerida.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('razon_social')?.hasError('maxlength') && form.get('razon_social')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          La razón social no puede exceder los 30 caracteres.
        </small>
      </p>
      
      <!-- Campo Cuit -->
      <p>
        <strong>CUIT</strong>
        <input id="cuit" type="text" class="form-control" placeholder="CUIT" formControlName="cuit">
        
        <small class="tooltip-container text-danger" *ngIf="form.get('cuit')?.hasError('required') && form.get('cuit')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El CUIT es requerido.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('cuit')?.hasError('cuitInvalido') && form.get('cuit')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El CUIT no es válido.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('cuit')?.hasError('cuitAsyncValidator') && form.get('cuit')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El CUIT ya está registrado.
        </small>
      </p>

      <!-- Campo Email -->
      <p>
        <strong>Correo electrónico</strong>
        <input id="email" class="form-control" type="email" placeholder="Correo electrónico" formControlName="email">
        
        <small class="tooltip-container text-danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El correo electrónico es requerido.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El correo electrónico no es válido.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('email')?.hasError('maxlength') && form.get('email')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El correo electrónico no puede exceder los 30 caracteres.
        </small>
      </p>

      <!-- Campo Telefono -->
      <p>
        <strong>Teléfono</strong>
        <input id="telefono" class="form-control" type="number" placeholder="Teléfono" formControlName="telefono">
      
        <small class="tooltip-container text-danger" *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El teléfono es requerido.
        </small>
        <small class="tooltip-container text-danger" *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
          <i class="fas fa-exclamation-triangle warning-icon"></i> <!-- Ícono de advertencia -->
          El teléfono debe contener entre 9 y 10 dígitos.
        </small>
      </p>

      <!-- Botones Guardar y Cancelar -->
      <div class="botones">
        <button type="button" class="bt-a-servicio" [routerLink]="['/V-admin']">Cancelar</button>
        <button id="bt-guardar" type="button" class="bt-a-servicio" (click)="openModal()">Guardar</button>
      </div>
    </form>
  </div>
</div>