/* Estilos para el modal */
.modal {
    display: block; /* Asegúrate de que este valor sea 'none' cuando quieras ocultar el modal */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 15% auto; /* Centramos el modal verticalmente */
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    position: relative;
}

/* Botón para cerrar el modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    /* left: 650px;
    position: relative; */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos para el encabezado del modal */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
}

.text-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Espacio entre el logo y el texto */
}

.text-container h1 {
    margin: 0; /* Elimina el margen por defecto */
    color: #760078; /* Color del texto del título */
    font-size: 25px; /* Tamaño de la fuente */
    border-bottom: 2px solid #760078; /* Línea violeta debajo del título */
    padding-bottom: 10px; /* Espacio entre el texto y la línea */
}

.text-container h2 {
    margin: 5px 0; /* Ajusta el margen superior e inferior */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ticket-container th {
    background-color: #9c00da; /* Color de fondo para los encabezados */
    color: #fdfdfd; /* Color del texto para los encabezados */
}

/* Cambia el color del texto en las celdas */
.ticket-container td {
    color: #666; /* Color del texto para las celdas */
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9d009d;
    font-weight: bold;
}


.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Espacio encima del botón */
}
/* Botón para descargar PDF */
button {
    background-color: #be25ff; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto; /* Centramos el botón */
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8d009d; /* Color de fondo verde más oscuro al pasar el ratón */
}

.pagado{
    color: green;
}

.sin-pagar{
    color: red;
}

@media (max-width:1000px) {
    .modal-content{
        overflow-x: auto;
    }
}