<div class="modalContact">
    <button (click)="onClose()" class="close-btn">&#x2715;</button> 
    
    <h2 class="title">Contacto</h2>
    <p class="paragraph">
      Puedes enviarnos un email o contactarnos a través de nuestras redes sociales.
    </p>
    <div class="contact-icons">
      <i class="fa fa-envelope"></i>
      <a href="mailto:easyride24team@gmail.com" class="email-link"> easyride24team&#64;gmail.com</a>
    </div>
    <div class="contact-icons" style="margin-top: 10px;"> 
      <i class="fab fa-instagram"></i>
      <a href="https://www.instagram.com/easyride_24/" target="_blank" class="instagram-link"> Síguenos en Instagram</a>
    </div>
  </div>
  