.header-bar {
  background-color: #5D2898;
  color: white;
  height: 60px; /* Ajusta la altura del header */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.icono {
  width: 50px;
  height: 50px;
  animation: enlarge 2s ease-out infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-bar {
    height: 50px;
    padding: 5px;
  }

  .icono {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .header-bar {
    height: 40px;
    padding: 3px;
  }

  .icono {
    width: 30px;
    height: 30px;
  }
}

.page-content {
  padding-top: 60px !important; /* Ajusta esto según la altura de tu header */
}
  
  .izq{
  /* Alinear los elementos verticalmente */
  display: flex;
  align-items: center;
  }
  .icono {
    width: 65px; /* Ancho del icono */
    height: 50px; /* Altura del icono */
  
  }

  .tittle{
      color: black;
      text-align: left;
      margin: 0;
  }

  .appname{
    /* Alinear los elementos verticalmente */
  display: flex;
  text-align: center;
  }
  
.name{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 25px;
}

.hiconscontainer{
  display: flex;
  gap: 10px;

}
.bt{
  background-color: #ffffff;
  line-height: 5 rem;
  min-width: 0;
  width: 40px;
  height: 30px;
  border-radius: 50%;
}
.iconLogin {
color: #9a03ff;
cursor: pointer;
}

.bt:hover{
  background-color: #e7c4ff;
  cursor: pointer;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px; 
  margin-right: 2px; 
  animation: enlarge 2s ease-out;
}

@keyframes enlarge {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.5); /* Tamaño agrandado */
  }
  100% {
    transform: scale(1); /* Tamaño original */
  }
}

/*EASYRIDE NOMBRE ANIMACION Y ESTILOS*/
.brand-name {
  font-size: 15px; 
  color: #ffffff; 
  margin-left: 5px; 
  animation: cambioColor 3s ease-in-out;
}

@keyframes cambioColor {
  0% {
    color: #ffffff; /* Color inicial */
  }
  50% {
    color: #ff41f9; /* Color intermedio */
  }
  100% {
    color: #ffffff; /* Color final */
  }
}

/*
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: violet;
  padding: 20px;
  color: white;
}

.contact-info {
  font-size: 18px;
}

.social-media a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
*/