.header-bar {
  background-color: #5D2898;
  color: white;
  height: 60px; /* Ajusta la altura del header */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.icono {
  width: 50px;
  height: 50px;
  animation: enlarge 2s ease-out infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-bar {
    height: 50px;
    padding: 5px;
  }

  .icono {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .header-bar {
    height: 40px;
    padding: 3px;
  }

  .icono {
    width: 30px;
    height: 30px;
  }
}

.page-content {
  padding-top: 60px !important; /* Ajusta esto según la altura de tu header */
}
  
  .izq{
  /* Alinear los elementos verticalmente */
  display: flex;
  align-items: center;
  }
  .icono {
    width: 65px; /* Ancho del icono */
    height: 50px; /* Altura del icono */
  
  }

  .tittle{
      color: black;
      text-align: left;
      margin: 0;
  }

  .appname{
    /* Alinear los elementos verticalmente */
  display: flex;
  text-align: center;
  }
  
.name{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 25px;
}

.hiconscontainer{
  display: flex;
  gap: 10px;

}
.bt{
  background-color: #ffffff;
  line-height: 5 rem;
  min-width: 0;
  width: 40px;
  height: 30px;
  border-radius: 50%;
}
.iconLogin {
color: #9a03ff;
cursor: pointer;
}

.bt:hover{
  background-color: #e7c4ff;
  cursor: pointer;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px; 
  margin-right: 2px; 
  animation: enlarge 2s ease-out;
}

@keyframes enlarge {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.5); /* Tamaño agrandado */
  }
  100% {
    transform: scale(1); /* Tamaño original */
  }
}

/*EASYRIDE NOMBRE ANIMACION Y ESTILOS*/
.brand-name {
  font-size: 15px; 
  color: #ffffff; 
  margin-left: 5px; 
  animation: cambioColor 3s ease-in-out;
}
.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0; 
  margin-left: auto; 
}

.navbar-toggler-bar {
  display: block;
  width: 25px; 
  height: 2px; 
  background-color: white; 
  margin: 3px auto;
  transition: all 0.3s ease-in-out; 
}

.navbar-toggler-bar.top-bar {
  transform: translateY(-6px); 
}

.navbar-toggler-bar.middle-bar {
  opacity: 1; 
}

.navbar-toggler-bar.bottom-bar {
  transform: translateY(6px); 
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-translate {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.back-navbar{
  background: #b23fff;
  border-radius: 5px;
}

.custom-icon {
  color: rgb(217, 0, 255);
  font-size: 20px;
}



@keyframes cambioColor {
  0% {
    color: #ffffff; /* Color inicial */
  }
  50% {
    color: #ff41f9; /* Color intermedio */
  }
  100% {
    color: #ffffff; /* Color final */
  }
}
/* Estilo para pantallas con ancho máximo de 200px */
@media (max-width: 200px) {
  .navbar-brand .brand-name {
    display: none; /* Oculta el texto 'EASYRIDE' */
  }

  .navbar-toggler {
    display: block; /* Asegura que el ícono del menú hamburguesa esté visible */
  }

  .navbar-brand .logo {
    /* Ajusta el tamaño del logo si es necesario */
    max-width: 100px; /* Ejemplo de tamaño, ajusta según necesites */
  }
}

