
.form-control{
  color: #7a14ff;
}
.bt-g-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bt-guardar{
    background-color: rgb(136, 0, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  .btguardar:hover {
    background-color:#7a14ff;
  }
  .photo-container {
      width: 123px;
      height: 123px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    }
    
  .title {
      text-align: center;
      margin-top: 30px;
    }
    
   .description,
   .category {
      text-align: center;
    }
    
   h5.description {
      max-width: 700px;
      margin: 20px auto 75px;
    }
    
  .nav-align-center {
      margin-top: 30px;
    }
    
   .content {
      max-width: 450px;
      margin: 0 auto;
    }
    
   .social-description {
      display: inline-block;
      max-width: 150px;
      width: 145px;
      text-align: center;
      margin: 15px 0 0px;
    }
    
   .social-description h2 {
      margin-bottom: 15px;
    }
    
   .button-container {
      text-align: center;
      margin-top: -106px;
    }
    
   .collections img {
      margin-bottom: 30px;
    }

    .action-container {
      display: flex;
      align-items: center; /* Alinea verticalmente al centro */
  }
  
  .action-container i {
      cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
      margin-right: 10px; /* Espacio entre el ícono de cancelar y el enlace del ticket */
  }
  
  .ticket-link {
      display: flex;
      align-items: center; /* Alinea verticalmente al centro */
      text-decoration: none; /* Elimina el subrayado del enlace */
      color: #18001c; /* Color del texto del enlace */
      cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
  }
  
  .ticket-link i {
      font-size: 22px; /* Tamaño del ícono del ticket, ajusta según sea necesario */
      color: #9600b7; /* Color del ícono */
  }
  
  .ticket-link:hover {
      text-decoration: underline; /* Añade subrayado al pasar el ratón sobre el enlace */
  }
  .text-secondary th{
    color: rgb(150, 0, 150);
  }

  .info-link i {
    color: #1d06cd;
    font-size: 22px;
    }

  .fa-times-circle{
    color: red;
    font-size:22px;
  }

  .fa-map-marker-alt{
    color: #9600b7;
    margin-left: 5px;
  }

  .nav-link{
    color: #343434 !important;
  }
  
  .nav-link.active {
    background-color: #444;
    border-radius: 30px;
    color: #FFFFFF !important;
  }