<form (ngSubmit)="buscarViajes()" #searchForm="ngForm">
  <div class="search-container">
    <div class="titulo1">Elegi tu viaje</div>
    <div class="search-box">
      <p>Origen:</p>
      <!-- Desplegable de origenes -->
      <select id="origen" name="search-origen" [(ngModel)]="selectedOrigen" required>
        <option [ngValue]="null" disabled>Selecciona un origen</option>
        <option *ngFor="let parada of paradas" [value]="parada.PK_Parada">{{ parada.parada }}</option>
      </select>
    </div>
    
    <div class="search-box">
      <p>Destino:</p>
      <!-- Desplegable de destinos -->
      <select id="destino" name="search-destino" [(ngModel)]="selectedDestino" required>
        <option [ngValue]="null" disabled>Selecciona un destino</option>
        <option *ngFor="let parada of paradas" [value]="parada.PK_Parada">{{ parada.parada }}</option>
      </select>
    </div>
    
    <div class="search-box">
      <label for="date">Fecha:</label>
      <input type="date" id="fecha" name="search-fecha" [(ngModel)]="selectedFecha" required>
    </div>
    
    <!-- Botón que lleva a la vista de los viajes -->
    <button id="bt-buscar-destino" class="gradient-button" type="submit">Buscar</button>
  </div>
</form>
