/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Aplica el cursor de tipo mano a enlaces, botones y elementos interactivos */
a, button, [role="button"], .menu-item {
    cursor: pointer;
  } 
