<app-headers></app-headers>

<div class="wrapper">
  <div class="page-header clear-filter page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('../assets/images/fondo.jpg');">
    </div>
    <div class="container">
      <div class="photo-container">
        <img src="../assets/images/user.png" alt="">
      </div>
     <!-- Datos de usuario -->
      <div *ngIf="empresa"> 
        <h3 class="title"> {{ empresa.razon_social }} </h3>
      </div>
      <div *ngIf="user">
        <h3>{{ user.nombre }} {{ user.apellido }}</h3>
        <!-- Otros detalles del perfil del usuario -->
      </div>
    </div>
  </div>
 
  <!-- Barra de navegación con 5 opciones -->
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab1" [ngClass]="{'active': currentTab === 'tab1'}" (click)="showTab('tab1')">Viajes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" [ngClass]="{'active': currentTab === 'tab2'}" (click)="showTab('tab2')">Charters</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Reservas-empresa']" [ngClass]="{'active': currentTab === 'tab3'}">
        Reservas
      </a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab4" [ngClass]="{'active': currentTab === 'tab4'}" (click)="showTab('tab4')">Reservas Futuras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab5" [ngClass]="{'active': currentTab === 'tab5'}" (click)="showTab('tab5')">Historial de Reservas</a>
    </li>
  </ul>
  <!-- Contenido de las pestañas -->
     <!-- Listado de viajes cargados -->
  <div class="tab-content">
    <div class="tab-pane fade" [ngClass]="{'show active': currentTab === 'tab1'}" id="tab1">
      <div class="nav nav-tabs justify-content-center">
        <button [routerLink]="['/Agregar-viaje']" class="bt-agregar">Agregar viaje</button>
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-secondary">
            <tr>
              <th>Número Viaje</th>
              <th>Día</th>
              <th>Hora Salida</th>
              <th>Hora Llegada</th>
              <th>Paradas</th>
              <th>Costo</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let viaje of listViajesParadas">
              <td>{{ viaje.PK_Viaje }}</td>
              <td>{{ fecha | date:'dd-MM-yyyy' }}</td>
              <td>{{ viaje.horario_salida }}</td>
              <td>{{ viaje.horario_llegada }}</td>
              <td>
                <div *ngFor="let parada of viaje.paradas">
                  <p>Orden: {{ parada.orden }} - Parada: {{ parada.parada }}</p>
                </div>
              </td>
              <td>${{ viaje.precio }}</td>
              <td>
                <a [routerLink]="['/Editar-viaje', viaje.PK_Viaje]" class="mr-2">
                  <i class="fas fa-pencil-alt icon-pencil icon-background" aria-label="Editar viaje"></i>
                </a>
                <i class="fas fa-trash-alt icon-trash icon-background" (click)="confirmDeleteViaje(viaje.PK_Viaje ?? 0)" aria-label="Eliminar viaje"></i>
              </td>
            </tr>
            <!-- Mensaje cuando no hay viajes -->
            <tr *ngIf="!listViajesParadas.length">
              <td colspan="6">No hay viajes disponibles</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <!-- Listado de charters -->
  <div class="tab-pane fade" [ngClass]="{'show active': currentTab === 'tab2'}" id="tab2">
    <div class="nav nav-tabs justify-content-center">
      <button [routerLink]="['/Agregar-charter']" class="bt-agregar">Agregar charter</button>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="table-responsive">
        <table class="table">
          <thead class="text-secondary">
            <tr>
            <th>Patente</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Capacidad</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let charter of listCharters">
                <!-- Campos charter -->
                <td>{{ charter.patente }}</td>
                <td>{{ charter.modelo }}</td>
                <td>{{ charter.marca }}</td>
                <td>{{ charter.modelo }}</td>
                <td>{{ charter.anio }}</td>
                <td>{{ charter.capacidad }}</td>
                <td>
                  <!-- Botones charter -->
                  <a [routerLink]="['/Editar-charter',charter.PK_Charter]"   class="mr-2">
                    <i class="fas fa-pencil-alt icon-pencil icon-background" ></i> <!-- Icono de lápiz -->
                  </a>
                  <i class="fas fa-trash-alt icon-trash icon-background" (click)="confirmDelete(charter.PK_Charter || 0)"></i> <!-- Icono de tacho de basura -->
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

   <!-- Reservas -->
   <div class="tab-content">
    <div class="tab-pane fade" [ngClass]="{'show active': currentTab === 'tab4'}" id="tab4">
    <!-- Activar el modo multi para permitir múltiples paneles expandidos -->
    <mat-accordion [multi]="true">
        <mat-expansion-panel *ngFor="let reserva of listReservasFut" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong> Viaje N° {{ reserva.PK_Viaje }} </strong>
            </mat-panel-title>
            <button class="bt-listado btn-right" (click)="openModal(reserva.PK_Viaje ?? 0)">Listado Reservas</button>
          </mat-expansion-panel-header>
      
          <!-- Contenido del acordeón -->
          <div class="row">
            <!-- Primera columna -->
            <div class="col">
              <p>Fecha: {{ reserva.fecha }}</p>
              <p>Horario: {{ reserva.horario_salida }} - {{ reserva.horario_llegada }}</p>
              <p>Precio: {{ reserva.precio | currency }}</p>
            </div>
            <!-- Segunda columna -->
            <div class="col">
              <p>Patente: {{ reserva.patente }}</p>
              <p>Modelo: {{ reserva.modelo }}</p>
              <p>Marca: {{ reserva.marca }}</p>
            </div>
            <!-- Tercera columna -->
            <div class="col">
              <p>Paradas:</p>
              <ul>
                <li *ngFor="let parada of reserva.paradas">
                  <p>Orden: {{ parada.orden }} - Parada: {{ parada.parada }}</p>
                </li>
              </ul>
            </div>
          </div>
      
          <!-- Tabla de reservas -->
          <div class="table-responsive mt-3">
            <table class="reservas-table">
              <thead>
                <tr>
                  <th>N° Reserva</th>
                  <th>Fecha Creación</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reserva of reserva.reservas">
                  <td>{{ reserva.PK_Reserva }}</td>
                  <td>{{ formatFecha(reserva.fecha_creacion) }}</td>
                  <td>{{ reserva.nombre }}</td>
                  <td>{{ reserva.apellido }}</td>
                  <td [ngClass]="{
                        'estado-verde': reserva.estado_reserva === 'Reservado',
                        'estado-rojo': reserva.estado_reserva === 'Cancelado'
                      }">
                    {{ reserva.estado_reserva }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
<!-- Historial de reservas -->
<div class="tab-pane fade" [ngClass]="{'show active': currentTab === 'tab5'}" id="tab5">
    <!-- Activar el modo multi para permitir múltiples paneles expandidos -->
    <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let reserva of listReservasPas" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong> Viaje N° {{ reserva.PK_Viaje }} </strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <!-- Contenido del acordeón -->
      <div class="row">
        <!-- Primera columna -->
        <div class="col">
          <p>Fecha: {{ reserva.fecha }}</p>
          <p>Horario: {{ reserva.horario_salida }} - {{ reserva.horario_llegada }}</p>
          <p>Precio: {{ reserva.precio | currency }}</p>
        </div>
        <!-- Segunda columna -->
        <div class="col">
          <p>Patente: {{ reserva.patente }}</p>
          <p>Modelo: {{ reserva.modelo }}</p>
          <p>Marca: {{ reserva.marca }}</p>
        </div>
        <!-- Tercera columna -->
        <div class="col">
          <p>Paradas:</p>
          <ul>
            <li *ngFor="let parada of reserva.paradas">
              <p>Orden: {{ parada.orden }} - Parada: {{ parada.parada }}</p>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Tabla de reservas -->
      <div class="table-responsive mt-3">
        <table class="reservas-table">
          <thead>
            <tr>
              <th>N° Reserva</th>
              <th>Fecha Creación</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reserva.reservas">
              <td>{{ reserva.PK_Reserva }}</td>
              <td>{{ formatFecha(reserva.fecha_creacion) }}</td>
              <td>{{ reserva.nombre }}</td>
              <td>{{ reserva.apellido }}</td>
              <td [ngClass]="{
                    'estado-verde': reserva.estado_reserva === 'Reservado',
                    'estado-rojo': reserva.estado_reserva === 'Cancelado'
                  }">
                {{ reserva.estado_reserva }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-listado-reservas *ngIf="showModal" [reservaData]="selectedReservaData"  (close)="handleClose()"></app-listado-reservas>
</div>