<app-headers></app-headers>
<div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" style="background-image:url(assets/images/fondo2.jpg)">
    </div>
    <div class="container">
        <div class="container-details">
            <h1>Información sobre el viaje</h1>
        <p>Nombre viaje:</p><input id="nombre-viaje" class="form-control">
        <p>Paradas:</p>
        <ul id="lista-paradas">
            <li>Parada 1</li>
            <li>Parada 2</li>
            <li>Parada 3</li>
            <!-- Aquí puedes agregar más elementos de lista según necesites -->
          </ul>
        <p>Charter asignado:</p><input id="charter-asignado" type="text"  class="form-control">
        <p>Charter pantente:</p><input id="charter-pante" type="text" class="form-control">
        <p>Charter modelo:</p><input id="charter-modelo" type="text"  class="form-control">
        <p>Charter marca:</p><input id="charter-marca" type="text"  class="form-control">
    </div>
</div>
</div>